.layout {
  display: flex;
  min-height: 100vh;
  background: #fff;
}

.main {
  flex: 1;
  overflow-y: auto;
  background: #fff;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
  
  .main {
    width: 100%;
  }
}
